.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal {
  background-color: var(--main-white);
  padding: 60px;
  border-radius: 30px;
  width: 473px;
  gap: 32px;
  min-height: 510px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  position: relative;
}

.closeIcon {
  stroke: var(--main-black);
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgWrapper {
  position: relative;
}

.category {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-light-orange);
  color: var(--main-orange);
  width: 52px;
  height: 34px;
  font-size: 14px;
  letter-spacing: -0.02em;
}

.img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin-bottom: 16px;
}
.name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 10px;
}

.popularityWrapper {
  display: flex;
  margin-bottom: 20px;
}
.popularity {
  font-size: 14px;
  line-height: 1.43;
}

.infoWrapper {
  display: flex;
  gap: 27px;
  margin-bottom: 16px;
}

.infoThumb {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.infoTitle {
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: rgba(38, 38, 38, 0.5);
}

.info {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
}

.comment {
  font-size: 14px;
  letter-spacing: -0.02em;
}

.price {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 20px;
}

.btnWrapper {
  display: flex;
  gap: 10px;
}

.link {
  border-radius: 30px;
  width: 160px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  line-height: 1.25;
  font-weight: 700;
  color: var(--main-light-orange);
  background-color: var(--main-orange);
}

.link:hover,
.link:focus {
  background: var(--main-light-orange);
  color: var(--main-orange);
}

.heartIcon {
  --color1: var(--main-light-orange);
}

.link:hover .heartIcon,
.link:focus .heartIcon {
  --color1: var(--main-orange);
}
