.wrapper {
  border-radius: 60px;
  width: 100%;
  height: calc(100vh - 148px);
  background-color: var(--main-orange);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

.catWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.title {
  font-weight: 800;
  font-size: 300px;
  line-height: 1;
  color: var(--main-white);
}

.circle {
  border-radius: 1000px;
  overflow: hidden;
  width: 280px;
  height: 280px;
  background-color: rgba(255, 255, 255, 0.1);
}

.info {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--main-white);
  margin-bottom: 20px;
}

.btn {
  border-radius: 30px;
  padding: 14px 30px;
  width: 162px;
  height: 48px;
  background-color: var(--main-light-orange);
  color: var(--main-orange);
}
